<!DOCTYPE html>
<html ng-app="projects">
<head>
	<title>Projects</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <link rel="shortcut icon" href="favicon.ico">  
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">  
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link id="theme-style" rel="stylesheet" href="assets/css/styles-2.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
     
</head>
<body ng-controller="project_controller">

    <div class="wrapper">
        <div class="sidebar-wrapper">

            <!-- Picture and Name -->
            <div class="profile-container">
                <img class="profile" src="images/mypic.jpeg" alt="" width="150px"/>
                <h1 class="name">Abdullah Ghani</h1>
                <h3 class="tagline">Full Stack Developer</h3>
            </div>
            

            <!-- details/contacts -->
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: abdullah.ghani3@gmail.com">abdullah.ghani3@gmail.com</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="+919547998800">+91-9547998800</a></li>
                    <li class="website">
                        <i class="fa fa-globe"></i>
                            <a href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/" target="_blank">portfoliosite.com</a>
                    </li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/abdullah-ghani-76a7b0115" target="_blank">linkedin.com/in/abdullah-ghani-76a7b0115</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/abdghani" target="_blank">https://github.com/abdghani</a></li>
                    <li class="facebook"><i class="fa fa-facebook"></i><a href="https://www.facebook.com/abdullah.ghani.90" target="_blank">@abdullah.ghani.90</a></li>
                </ul>
            </div>

            <!-- Education -->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree"> SECONDARY</h4>
                    <h5 class="meta">HSMS,Durgapur</h5>
                    <div class="time">2011</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">SENIOR SECONDARY</h4>
                    <h5 class="meta">HSMS,Durgapur</h5>
                    <div class="time">2013</div>
                </div><!--//item-->
                 <div class="item">
                    <h4 class="degree">BTECH IN COMPUTER SCIENCE</h4>
                    <h5 class="meta">NSEC , Kolkata</h5>
                    <div class="time"></div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <!-- Languages -->
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc"></span></li>
                    <li>Bengali <span class="lang-desc">(native)</span></li>
                    <li>Hindi <span class="lang-desc"></span></li>
                </ul>
            </div>
            
            <!-- Interests -->
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Coding</li>
                    <li>Music</li>
                </ul>
            </div>

        </div>


        
<!-- main content -->

        <div class="main-wrapper">
            
            <!-- about you -->
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <p>
                        A highly enthusiastic web developer .Have been developing web apps for the past 3 years using popular web frameworks like the MEAN stack, LAMP stack ,Django. etc.

                        
                    </p>
                </div>
            </section>
            
            
            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

                <div class="item" ng-repeat="i in projs">
                    <span class="project-title" >

                    	{{$index+1}} &nbsp <a href="#hook">{{i.name}}</a></span> - <span class="project-tagline">
                    	<span class="project-tagline">{{i.description}}</span>	
                    	<br>
                    		<a href="{{i.url}}" target="_blank" style="text-decoration:underline">DEMO</a>
                    		<a href="{{i.github}}" target="_blank" title="source code of {{i.name}} in github" class ="pull-right"><i class="fa fa-github"></i>
                    	</a>
                    </span>
                </div>

               
                
            </section>
            
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset" ng-repeat="s in skill">        
                    <div class="item">
                        <h3 class="level-title">{{s.name}}</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="{{s.level}}%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    
                </div>  
            </section><!--//skills-section-->
            <br>
            
            <section class="section projects-section">
            	<h2 class="section-title" title="click to download"	><i class="fa fa-briefcase"></i><a href="mycv.docx" style="text-decoration:none">CV</a></h2>

            </section>

        </div><!--//main-body-->
    </div>
          
</body>
</html>